#  1. Customer Service chatbot

In [1]:
import re

In [66]:
chat1 = 'codebasics: you ask lot of questions ðŸ˜   1235678912, abc@xyz.com ,6299598442'
chat2 = 'codebasics: here it is: (123)-567-8912, abc@xyz.com,(123)-564-4854,(123)-456-2554'
chat3 = 'codebasics: yes, phone: 1235678912 email: abc@xyz.com,6299598442'

In [67]:
pattern = '\d{10}'

matches = re.findall(pattern, chat3)
matches

['1235678912', '6299598442']

pattern = '\d{10}'

matches = re.findall(pattern, chat2) # donot matches in chat2
matches

In [10]:
chat4 = 'codebasics: you ask lot of questions ðŸ˜   1235678912, abc@xyz.com , 6299598442,9973171280,7643815369'

pattern = '\d{10}'

matches = re.findall(pattern, chat4)
matches

['1235678912', '6299598442', '9973171280', '7643815369']

In [11]:
pattern = '\(\d{3}\)-\d{3}-\d{4}'

matches = re.findall(pattern, chat2)
matches

['(123)-567-8912', '(123)-564-4854', '(123)-456-2554']

In [13]:
pattern = '\d{10}|\(\d{3}\)-\d{3}-\d{4}'

matches = re.findall(pattern, chat1)
matches

['1235678912']

In [17]:
pattern = '[a-z0-9A-Z_]*@[a-z0-9A-Z]*\.[a-zA-Z]*'

matches = re.findall(pattern, chat2)
email= matches
email

['abc@xyz.com']

In [18]:
chat5='codebasics: Hello, I am having an issue with my order # 412889912'
chat6='codebasics: I have a problem with my order number 412889912'
chat7='codebasics: My order 412889912 is having an issue, I was charged 300$ when online it says 280$'

In [29]:
pattern = 'order[^\d]*(\d*)'

matches = re.findall(pattern, chat5)
matches

['412889912']

# 2. Information Extraction

In [32]:
text='''
Born	Elon Reeve Musk
June 28, 1971 (age 50)
Pretoria, Transvaal, South Africa
Citizenship	
South Africa (1971â€“present)
Canada (1971â€“present)
United States (2002â€“present)
Education	University of Pennsylvania (BS, BA)
Title	
Founder, CEO and Chief Engineer of SpaceX
CEO and product architect of Tesla, Inc.
Founder of The Boring Company and X.com (now part of PayPal)
Co-founder of Neuralink, OpenAI, and Zip2
Spouse(s)	
Justine Wilson
â€‹
â€‹(m. 2000; div. 2008)â€‹
Talulah Riley
â€‹
â€‹(m. 2010; div. 2012)â€‹
â€‹
â€‹(m. 2013; div. 2016)
'''

In [36]:

pattern = 'age (\d+)'

matches = re.findall(pattern, text)
matches

['50']

In [38]:
pattern = 'Born(.*)'

matches = re.findall(pattern, text)
matches[0].strip() # strip used to remove spaces

'Elon Reeve Musk'

In [40]:
pattern = 'Born.*\n(.*)\(age'

matches = re.findall(pattern, text)
matches

['June 28, 1971 ']

In [41]:
pattern = '\(age.*\n(.*)'

matches = re.findall(pattern, text)
matches

['Pretoria, Transvaal, South Africa']

In [47]:
def get_pattern_match(pattern, text):
    matches = re.findall(pattern, text)
    if matches:
        return matches[0]

In [48]:
get_pattern_match(r'age (\d+)', text)

'50'

In [49]:
get_pattern_match(r'Born(.*)\n', text).strip()

'Elon Reeve Musk'

In [50]:
get_pattern_match(r'Born.*\n(.*)\(age', text).strip()

'June 28, 1971'

In [51]:
get_pattern_match(r'\(age.*\n(.*)', text)

'Pretoria, Transvaal, South Africa'

In [52]:
def extract_personal_information(text):
    age = get_pattern_match('age (\d+)', text)
    full_name = get_pattern_match('Born(.*)\n', text)
    birth_date = get_pattern_match('Born.*\n(.*)\(age', text)
    birth_place = get_pattern_match('\(age.*\n(.*)', text)
    return {
        'age': int(age),
        'name': full_name.strip(),
        'birth_date': birth_date.strip(),
        'birth_place': birth_place.strip()
    }

In [53]:
extract_personal_information(text)

{'age': 50,
 'name': 'Elon Reeve Musk',
 'birth_date': 'June 28, 1971',
 'birth_place': 'Pretoria, Transvaal, South Africa'}

In [60]:
text1 = '''

Born	Mukesh Dhirubhai Ambani
19 April 1957 (age 64)
Aden, Colony of Aden
(present-day Yemen)[1][2]
Nationality	Indian
Alma mater	
St. Xavier's College, Mumbai
Institute of Chemical Technology (B.E.)
Stanford University (drop-out)
Occupation	Chairman and MD, Reliance Industries
Spouse(s)	Nita Ambani â€‹(m. 1985)â€‹[3]
Children	3
Parent(s)	
Dhirubhai Ambani (father)
Kokilaben Ambani (mother)
Relatives	Anil Ambani (brother)
Tina Ambani (sister-in-law)
'''

In [61]:
extract_personal_information(text1)

{'age': 64,
 'name': 'Mukesh Dhirubhai Ambani',
 'birth_date': '19 April 1957',
 'birth_place': 'Aden, Colony of Aden'}